@import 'vars';
@import 'reset';
@import 'global';


body {
    background-color: #fff;
}


.btn {
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.timer {

    &__wrapper {
        max-width: 800px;
        width: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    &__start-time {
        font-size: 100px;
        color: #000;
        cursor: pointer;
        margin-right: 60px;
    }

    &__start-time:hover {
        color: rgb(114, 114, 165);
    }

    &__btn-start {
        background-color: green;
        margin-right: 20px;
    }

    &__btn-start:hover {
        background-color: #000;
    }

    &__btn-reset {
        // background-color: rgb(4, 4, 199);
        border: 1px solid gray;
        color: gray;
    }

    &__btn-start:disabled {
        cursor: not-allowed;
    }

    &__btn-reset:disabled {
        cursor: not-allowed;
    }

    &__info {
        display: flex;
        align-items: center;
        color: #000;
    }

    &__name {
        margin-right: 10px;
    }


    &__counter {
        font-size: 20px;
        margin-right: 10px;
        cursor: text;
    }


    &__edit {
        color: rgb(22, 22, 206);
        width: 0px;
    }

    &__progres-line {
        height: 30px;
        background-color: green;
        width: 100%;
    }

    &__line {
        height: 100%;
        width: 0%;
        background-color: gray;
        transition: all 1s;
    }
}


.modal {
    padding: 0 20px;
}


.input {
    border: 1px solid gray;
    border-radius: 6px;
}

.edit-timer {
    display: none;
    position: absolute;
    width: 600px;
    max-height: 400px;
    height: 100%;
    border: 1px solid;
    background-color: #fff;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);


    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: #4387d0;
        padding: 0 20px;
        margin-bottom: 60px;
    }

    &__title {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }

    &__btn-close {
        border: none;
        outline: none;
        font-size: 40px;
        background-color: inherit;
        cursor: pointer;
    }

    &__btn-close:hover {
        color: #fff;
    }

    &__main {
        flex: 1 1 auto;
        padding: 0 20px;
    }

    &__inst-time {
        max-width: 300px;
        width: 100%;
    }

    &__name-inp {
        max-width: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        margin-bottom: 30px;
    }

    // &__hrs-time {
    //     border: 1px solid gray;
    // }

    // &__mins-time {
    //     border: 1px solid gray;
    // }

    // &__secs-time {
    //     border: 1px solid gray;
    // }

    &__name-input {
        color: #000;
        border: 1px solid gray;
    }

    &__line {
        height: 2px;
        background-color: gray;
        margin-bottom: 30px;
    }


    &__timer-name {
        margin-bottom: 20px;
    }

    &__name {
        display: block;
        color: #000;
        font-weight: 700;
    }

    &__name-input {
        padding: 4px 15px 4px 10px;
    }

    &__footer {
        position: relative;
        height: 70px;
        width: 100%;
        background-color: #f4f4f6;
    }

    &__btn-done {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        color: #fff;
        background-color: green;
        box-shadow: 0 2px 2px rgb(0, 0, 20%);
        border-radius: 6px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    &__btn-done:hover {
        background-color: #000;
    }
}




@media (max-width: 1010px) {
    .container {
        max-width: 800px;
        width: 100%;
    }

    .btn {
        width: 70px;
        height: 70px
    }

    .timer {
        &__wrapper {
            max-width: 500px;
            width: 100%;
        }

        &__inner {
            margin-bottom: 40px;
        }

        &__start-time {
            font-size: 40px;
            margin-right: 40px;
        }

        &__counter {
            font-size: 16px;
        }

        &__progres-line {
            width: 80%;
        }
    }
}


@media (max-width: 480px) {
    .container {
        max-width: 400px;
        width: 100%;
    }

    .btn {
        width: 50px;
        height: 50px
    }

    .timer {
        &__wrapper {
            max-width: 400px;
            width: 100%;
        }

        &__inner {
            margin-bottom: 20px;
        }

        &__start-time {
            font-size: 25px;
            margin-right: 20px;
        }

        &__btn-start {
            font-size: 13px;
        }

        &__btn-reset {
            font-size: 13px;
        }

        &__counter {
            font-size: 13px;
        }

        &__progres-line {
            width: 100%;
        }
    }
}



@media (max-width: 1010px) {
    .edit-timer {
        width: 450px;

        &__top {
            margin-bottom: 40px;
        }

        &__title {
            font-size: 20px;
        }
    }
}


@media (max-width: 480px) {
    .edit-timer {
        width: 300px;
        height: 300px;

        &__title {
            font-size: 15px;
        }

        &__btn-close {
            font-size: 30px;
        }

        &__top {
            margin-bottom: 20px;
        }

        &__main {
            padding: 0 30px;
        }

        &__inst-time {
            // max-width: 200px;
            width: 100%;
        }

        &__hrs-time {
            width: 50px;
        }

        &__mins-time {
            width: 50px;
        }

        &__secs-time {
            width: 50px;
        }

        &__mins-time {
            width: 50px;
        }

        &__name-inp {
            max-width: 150px;
            font-size: 13px;
        }

        &__name-inp {
            margin-bottom: 10px;
        }

        &__line {
            margin-bottom: 10px;
        }
    }

}